extends layout
block contenido
     .container.consulta
        .consultar-container
            h1 Emitir Constancia de Creditos Complementarios
            if locals.mensajes
                each categoria in Object.keys(locals.mensajes)
                    .errores
                        each error in mensajes[categoria]
                            p(class= categoria)= error
            form(action="/carta-finalizacion", method="get")
                .campo
                    label(for="alumno") Numero de Control:
                    input(type="text", name="alumno" placeholder="Ej: 163107289")
                input.boton(type="submit", value="Generar Carta")
        if alumno
            .fila-container
                .caja#consulta
                    h2 No. Control
                    p= alumno.alumno.id
                .caja#consulta.space
                    h2 Nombre
                    p= `${alumno.alumno.nombre} ${alumno.alumno.aPaterno} ${alumno.alumno.aMaterno}`
                .caja#consulta.space
                    h2 Carrera
                    p= alumno.alumno.carrera
                .caja#consulta
                    h2 Creditos
                    p= alumno.alumno.creditos
            a(class="boton" href="/descargar-carta" ) Descargar