extends layout
block contenido
     .container.consulta
        .consultar-container
            h1 Emitir constancia de créditos complementarios
            if locals.mensajes
                each categoria in Object.keys(locals.mensajes)
                    .errores
                        each error in mensajes[categoria]
                            p(class= categoria)= error
            form(action="/carta-finalizacion", method="get")
                .campo
                    label(for="alumno") Número de control:
                    input(type="text", name="alumno" placeholder="Ej: 163107289" autocomplete="off")
                input.boton(type="submit", value="Generar Carta")
        if alumno && alumno.alumno.creditos >= 5
            .fila-container
                .caja#consulta
                    h2 No. control
                    p= alumno.alumno.id
                .caja#consulta.space
                    h2 Nombre
                    p= `${alumno.alumno.nombre} ${alumno.alumno.aPaterno} ${alumno.alumno.aMaterno}`
                .caja#consulta.space
                    h2 Carrera
                    p= alumno.alumno.carrera
                .caja#consulta
                    h2 Créditos
                    p= alumno.alumno.creditos
            a(class="boton" href="/descargar-carta" ) Descargar

        if alumno && alumno.alumno.creditos < 5
            .fila-container-message
                h3 El alumno no cuenta con 5 creditos, pero se puede emitir una constancia parcial
            .fila-container
                .caja#consulta
                    h2 No. Control
                    p= alumno.alumno.id
                .caja#consulta.space
                    h2 Nombre
                    p= `${alumno.alumno.nombre} ${alumno.alumno.aPaterno} ${alumno.alumno.aMaterno}`
                .caja#consulta.space
                    h2 Carrera
                    p= alumno.alumno.carrera
                .caja#consulta
                    h2 Créditos
                    p= alumno.alumno.creditos
            a(class="boton" href="/descargar-carta" ) Descargar